/* Reset de estilos básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.9;
    background-color: #1f0dbdcc;
    padding: 0px ;
    color: #fff;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 29px;
    padding: 20px;
    background-color: #1d0dad;
    border-radius: 5px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.jogo {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.jogo img {
    max-width: 100%;
    border-radius: 5px;
}

.jogo h3 {
    font-size: 20px;
    margin: 10px 0;
}

.jogo p {
    margin-bottom: 10px;
}

.jogo .preco {
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
}

.jogo a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.jogo a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color:#ffffff;
    color: #fff;
    clear: both;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}