/* Reset de estilos básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.9;
    background-color: #1b4df1e0;
    padding: 0px ;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 29px;
    padding: 20px;
    background-color: #1d0dad;
    border-radius: 5px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.jogo {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.jogo img {
    max-width: 100%;
    border-radius: 5px;
}

.jogo h3 {
    font-size: 20px;
    margin: 10px 0;
}

.jogo p {
    margin-bottom: 10px;
}

.jogo .preco {
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
}

.jogo a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.jogo a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color:#000000;
    color: #fff;
    clear: both;
}
